#h1home{
    color: #fefae0;
    position: relative;
    font-weight: bold;
    left: 770px;
    top: 350px;
}
html {
    background-color: #606c38; 
}
#profile{
    position: relative;
    left: 800px;
    top: 360px;
    border: 2px solid black;

}

#paragraph1{
    color: #fefae0;
    position: relative;
    
    left: 720px;
    top: 360px;
}

#botdiv{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: #283618;
    border: 3px solid #283618;
}

#topdiv{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 10%;
    background-color: #283618;
    border: 3px solid #283618;
}
#h1topdiv{
    position: absolute;
    color: #fefae0;
    top: 30px;
    left: 900px;
}
#bot1{
    position: absolute;
    top: 10px;
    left: 600px;
    font-size: 30px;
}

#bot2{
    position: absolute;
    top: 10px;
    left: 900px;
    font-size: 30px;
}

#bot3{
    position: absolute;
    top: 10px;
    left: 1200px;
    font-size: 30px;
}


#botdiv p {
    color: #fefae0;
    
}

#botdiv p:hover {
    font-size: 40px; 
    cursor: pointer; 
}

a {
    color: #fefae0;
    text-decoration: none;
}

/* skills webpage */


#profileSkill{
    position: relative;
    left: 800px;
    top: 260px;
    border: 2px solid black;
  
}
#h1button {
    position: relative;
    color: #fefae0;
    top: 150px;
    left: 30px;
    border: 2px solid black;
    border-style: inset;
    background-color: #4c692a;
    padding: 10px 20px; 
    box-sizing: border-box; 
    max-width: 150px; 
}
#skill1Div:hover, #skill2Div:hover, #skill3Div:hover {
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   
  }

#skill1Div{
    padding: 50px;
    left: 40px;
    top: 500px;
    color: #fefae0;
    position: absolute;
    text-align: center;
}

#skill1img{
    display: block; 
    margin: 0 auto; 
}

#skill1{
    color: #fefae0;
  
}

#skill2Div{
    padding: 50px;
    left: 640px;
    top: 500px;
    color: #fefae0;
    position: absolute;
    text-align: center;
}

#skill2img{
    display: block; 
    margin: 0 auto; 
}

#skill2{
    color: #fefae0;
   
}
#skill3Div{
    padding: 50px;
    left: 1280px;
    top: 500px;
    color: #fefae0;
    position: absolute;
    text-align: center; 
}

#skill3img{
    display: block; 
    margin: 0 auto; 
}

#skill3{
    color: #fefae0;
}

/* ABOUT WEBPAGE*/
#h1buttonabout{
    position: absolute;
    color: #fefae0;
    top: 150px;
    left: 30px;
    border: 2px solid black;
    border-style: inset;
    background-color: #4c692a;
    padding: 10px 20px; 
    box-sizing: border-box;
    max-width: 150px; 
}

#profileabout{
    position: relative;
    left: 1200px;
    top: 400px;
    border: 1px solid black;
}

#paragraph1ABOUT{
    position: absolute;
    height: 300px;
    top: 460px;
    left: 200px;
    color: #fefae0;
    padding-right: 150px;
   
}

#p1{
    font-size: 50px;
}

#p2{
    font-size: 20px;
}


/* CONTACT WEBPAGE */


#h1buttoncontact{
    position: absolute;
    color: #fefae0;
    top: 150px;
    left: 30px;
    border: 2px solid black;
    border-style: inset;
    background-color: #4c692a;
    padding: 10px 20px; 
    box-sizing: border-box;
    max-width: 150px; 
}

#mainpanel {
    padding: 100px;
    position: relative;
    background-color: #7FA969;
    border-style: inset;
    width: 800px;
    height: 600px;
    top: 200px;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    font-size: 24px;
    margin-bottom: 10px;
}



input[type="text"] {
    position: relative;
    top: -10px; 
    left: 50px; 
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #b5e084;
}

  input[type="email"] {
    position: relative;
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    top: 80px;
    left: 140px;
    background-color: #b5e084;
  }
  

textarea{
    position: relative;
    height: 200px;
    width: 520px;
    top: 100px;
    left: 30px;
    resize: none;
    background-color: #b5e084;
}

input[type="submit"] {
    position: relative;
    font-weight: bold;
    top: 100px;
    left: 300px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border-style: inset;
    border-color: 2px solid black;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

#messagelabel{
    font-weight: bold;
    color: #fefae0;
    font-size: 20px;
    position: relative;
    left: -30px;
    top: 10px;
}

#contactLabel {
    color: #fefae0;
    font-weight: bold;
    position: relative;
    top: -90px;
    font-size: 50px;
    margin-bottom: 20px;
}

#namelabel{
    color: #fefae0;
    font-weight: bold;
    position: relative;
    top: -80px;
    left: 360px;
  
}

#emaillabel{
    color: #fefae0;
    font-weight: bold;
    position: relative;
    top: 80px;
    left: -260px;
}